
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.5rem;
}.a4-1-fZe {
  box-sizing: border-box;
  padding: 4.1rem 3.5rem 2.089rem 3.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #dceff6;

  .auto-group-seyu-bLp {
    margin: 0rem 5.5rem 2.711rem 0rem;
    width: 22rem;
    flex-shrink: 0;

    .ellipse-4-Skk {
      vertical-align: top;
      margin: 0rem 0rem 2.4rem 1.6rem;
      width: 13.2rem;
      height: 12.4rem;
      object-fit: contain;
    }
    .geethika-mulugu-student-6qJ {
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 0.8333333333;
      color: #000000;
      font-family: Georgia, 'Source Sans Pro';
      margin-bottom: 1.5rem;
      max-width: 16.9rem;

      .geethika-mulugu-student-6qJ-sub-0 {
      }
      .geethika-mulugu-student-6qJ-sub-1 {
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 0.8333333333;
        color: #000000;
        font-family: Goldman, 'Source Sans Pro';
      }
    }
    .a-19-year-old-with-a-passion-for-front-end-development-im-familiar-with-angular-framework-completed-a-python-course-and-have-hands-on-experience-with-projects-i-also-enjoy-bringing-ideas-to-life-through-figma-designs-excited-to-apply-my-skills-and-contribute-to-new-projects-ECk {
      margin-bottom: 1.9rem;
      max-width: 22rem;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.6666666667;
      color: #000000;
      font-family: Epilogue, 'Source Sans Pro';
    }
    .auto-group-md9w-xHA {
      width: calc(100% - 1rem);
      height: 15.2rem;
      position: relative;
      margin: 0rem 0.7rem 1.4rem 0.3rem;

      .material-symbols-light-mail-4LC {
        top: 4.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.8rem;
        height: 1.4rem;
        position: absolute;
        left: 0;
      }
      .ic-baseline-phone-yTA {
        top: 12.8rem;
        overflow: hidden;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 0.7rem;
      }
      .vector-5WC {
        width: 1.6rem;
        height: 1.8rem;
        position: absolute;
        left: 0.6rem;
        top: 8.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .mdi-location-18x {
        position: absolute;
        left: 2.3rem;
        top: 12.5rem;
        overflow: hidden;
        width: 2.4rem;
        height: 2.4rem;
      }
      .group-4-wYQ {
        width: 19.4rem;
        height: 14.9rem;
        position: absolute;
        left: 1.6rem;
        top: 0;

        .contact-rvG {
          margin: 0rem 0rem 2.5rem 1.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.8333333333;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
        }
        .geethikamulugugmailcom-9Pa {
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.1rem 1.4rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.5384615385;
        }
        .xxxxx-qXJ {
          line-height: 1.5384615385;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.6rem 1.9rem;
          font-size: 1.3rem;
          font-weight: 400;
        }
        .auto-group-y51w-A3n {
          height: 3.7rem;
          position: relative;
          width: 18.9rem;

          .vijayawadaandhra-pradesh-UqA {
            white-space: nowrap;
            width: 17.5rem;
            height: 2rem;
            font-weight: 400;
            line-height: 1.5384615385;
            color: #000000;
            position: absolute;
            left: 1.4rem;
            top: 0;
            font-size: 1.3rem;
            font-family: Epilogue, 'Source Sans Pro';
          }
          .mdi-location-TqW {
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            left: 0;
            top: 1.3rem;
            overflow: hidden;
          }
        }
      }
      .vector-nMz {
        width: 1.4rem;
        height: 2rem;
        position: absolute;
        left: 0.6rem;
        top: 11.7rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .skills-7fA {
      line-height: 0.8333333333;
      color: #000000;
      font-family: Epilogue, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 2rem 3.4rem;
      font-size: 2.4rem;
      font-weight: 400;
    }
    .group-6-Dy6 {
      margin: 0rem 0rem 0.6rem 0.9rem;
      width: 15.3rem;

      .auto-group-pj2g-YkU {
        margin: 0rem 0rem 0.9rem 0.1rem;
        width: calc(100% - 0.1rem);
        display: flex;
        align-items: center;

        .python-5VW {
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.2rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
        }
        .line-4-bye {
          background-color: #6ab1c7;
          flex-shrink: 0;
          margin-top: 0.7rem;
          width: 8.2rem;
          height: 0.5rem;
        }
      }
      .auto-group-9q2c-ja4 {
        margin: 0rem 0rem 1.4rem 0.1rem;
        width: calc(100% - 0.1rem);
        display: flex;
        align-items: flex-end;

        .html-Tkx {
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.5rem;
          font-size: 1.4rem;
        }
        .line-5-MLY {
          margin-bottom: 0.1rem;
          width: 8.2rem;
          height: 0.5rem;
          background-color: #69b1c7;
          flex-shrink: 0;
        }
      }
      .auto-group-7noe-4Vr {
        margin: 0rem 1.7rem 0.7rem 0.1rem;
        width: calc(100% - 1.8rem);
        display: flex;
        align-items: flex-end;

        .css-BqN {
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.4rem;
          font-size: 1.4rem;
        }
        .line-6-jbz {
          background-color: #6ab1c7;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          width: 6.5rem;
          height: 0.5rem;
        }
      }
      .auto-group-jxal-HNc {
        margin: 0rem 4.2rem 0.9rem 0rem;
        width: calc(100% - 4.2rem);
        display: flex;
        align-items: flex-end;

        .js-RUp {
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.5rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
        }
        .line-7-a6p {
          margin-bottom: 0.3rem;
          width: 4rem;
          height: 0.5rem;
          background-color: #6ab1c7;
          flex-shrink: 0;
        }
      }
      .auto-group-9gdi-76k {
        margin-right: 3.7rem;
        width: calc(100% - 3.7rem);
        display: flex;
        align-items: center;

        .angular-r4L {
          margin-right: 2.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .line-11-nig {
          margin-top: 0.6rem;
          width: 3.8rem;
          height: 0.4rem;
          background-color: #6ab1c7;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-uayr-H9e {
      margin: 0rem 8.8rem 0rem 0.9rem;
      width: calc(100% - 9.7rem);
      display: flex;
      align-items: flex-end;

      .figma-auS {
        font-family: Epilogue, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.3rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.4285714286;
        color: #000000;
      }
      .line-10-vTW {
        background-color: #6ab1c7;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        width: 4.9rem;
        height: 0.4rem;
      }
    }
  }
  .auto-group-jggl-euJ {
    margin: 0rem 0.4rem 38.111rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .item-2017-18-nVi {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3333333333;
      color: #000000;
      font-family: Epilogue, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 2.3rem;
      max-width: 3.1rem;
    }
    .item-2019-21-tHr {
      flex-shrink: 0;
      margin-bottom: 1rem;
      max-width: 3.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3333333333;
      color: #000000;
      font-family: Epilogue, 'Source Sans Pro';
    }
    .item-2021-26-D5E {
      flex-shrink: 0;
      max-width: 3.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3333333333;
      color: #000000;
      font-family: Epilogue, 'Source Sans Pro';
    }
  }
  .auto-group-pwdn-ing {
    margin-top: 3.8rem;
    width: 21.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-bzgg-Em2 {
      padding-bottom: 6.1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-xbxp-A8t {
        margin-bottom: 4.4rem;
        font-size: 2.4rem;
        flex-shrink: 0;
        height: 4.1rem;
        font-weight: 400;
        font-family: Epilogue, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #8fc6d8;
        border-radius: 1rem;
        width: 20rem;
        line-height: 0.8333333333;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .auto-group-qyda-dHN {
        align-items: flex-end;
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: calc(100% - 1.6rem);
        height: 14.4rem;
        display: flex;

        .group-1-mPa {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 0.8rem 0.31rem 0rem;
          align-items: center;

          .ellipse-1-JeQ {
            flex-shrink: 0;
            margin-bottom: 4.2103rem;
            width: 1.4rem;
            height: 1.3897rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-2-SVi {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 4.5103rem;
            width: 1.4rem;
            height: 1.3897rem;
            object-fit: contain;
          }
          .ellipse-3-aM2 {
            width: 1.4rem;
            height: 1.3897rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-rh4x-7rk {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          height: 100%;

          .sri-chaitanya-techno-school-5Yg {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.3333333333;
            color: #000000;
            font-family: Epilogue, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0rem 2.6rem 0.1rem;
            max-width: 15.4rem;
          }
          .narayana-junior-college-YBN {
            font-weight: 400;
            line-height: 1.3333333333;
            color: #000000;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.8rem;
            font-size: 1.5rem;
          }
          .vit-ap-bachelors-in-cse-rC4 {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.3333333333;
            color: #000000;
            font-family: Epilogue, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-7lz2-MuW {
      margin-bottom: 2.8539rem;
      width: 100%;
      height: 32.4rem;
      position: relative;
      flex-shrink: 0;

      .group-2-JZr {
        width: 1.4rem;
        height: 14.1897rem;
        position: absolute;
        left: 0;
        top: 8.3rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .ellipse-1-Arx {
          flex-shrink: 0;
          margin-bottom: 4.7103rem;
          width: 1.4rem;
          height: 1.3897rem;
          object-fit: contain;
          vertical-align: top;
        }
        .ellipse-2-JTN {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 5.3103rem;
          width: 1.4rem;
          height: 1.3897rem;
          object-fit: contain;
        }
        .ellipse-3-Ebv {
          width: 1.4rem;
          height: 1.3897rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .rectangle-3-BXA {
        height: 4.1rem;
        position: absolute;
        left: 0.7rem;
        top: 0;
        background-color: #8fc6d8;
        border-radius: 1rem;
        width: 20rem;
      }
      .rectangle-4-KNU {
        background-color: #8fc6d8;
        border-radius: 1rem;
        width: 20rem;
        height: 4.1rem;
        position: absolute;
        left: 1.6rem;
        top: 28.3rem;
      }
      .group-3-Pt8 {
        height: 30.1695rem;
        position: absolute;
        left: 3rem;
        top: 1.3rem;
        width: 16.3rem;

        .certifications-XUY {
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 11.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.8333333333;
          color: #000000;
        }
        .scratch-course-from-coursera-f4x {
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          margin-bottom: 2.4rem;
          max-width: 14.7rem;
          font-size: 1.4rem;
        }
        .python-from-udemy-AnQ {
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 6.6695rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.4285714286;
          color: #000000;
        }
        .languages-uEC {
          margin-left: 2.7469rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.8333333333;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .front-end-development-from-internshala-EGU {
        top: 7.9rem;
        line-height: 1.4285714286;
        color: #000000;
        width: 16.7rem;
        position: absolute;
        left: 3rem;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: Epilogue, 'Source Sans Pro';
        height: 4rem;
      }
    }
    .pie-1-ixL {
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.848rem 0rem 3.772rem;
      width: calc(100% - 5.6198rem);
      height: 9.957rem;

      .auto-group-3wdr-2y2 {
        margin-right: 1.4698rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-ZCG {
          margin: 0rem 0rem 1.669rem 0.177rem;
          width: 4.288rem;
          height: 4.288rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .telugu-90-Fqn {
          font-family: Epilogue, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 3.5rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.8181818182;
          color: #000000;
        }
      }
      .auto-group-14qu-yFz {
        flex-shrink: 0;
        margin-right: 2.243rem;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .group-KKr {
          width: 3.4643rem;
          height: 4.288rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.051rem 1.669rem 0rem;
        }
        .hindi-60-SQU {
          max-width: 2.7rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.8181818182;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .auto-group-xcb6-A5a {
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        align-items: flex-end;
        display: flex;

        .group-JxU {
          margin-bottom: 1.6691rem;
          width: 4.288rem;
          height: 4.288rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .english-75-FMv {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.8181818182;
          color: #000000;
          font-family: Epilogue, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 0.1145rem;
          max-width: 3.8rem;
        }
      }
    }
  }
}
