
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 59.5rem;
}.a4-1-fZe {
  box-sizing: border-box;
  padding: 4.1rem 3.5rem 2.089rem 3.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #dceff6;
}
.a4-1-fZe .auto-group-seyu-bLp {
  margin: 0rem 5.5rem 2.711rem 0rem;
  width: 22rem;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .ellipse-4-Skk {
  margin: 0rem 0rem 2.4rem 1.6rem;
  width: 13.2rem;
  height: 12.4rem;
  object-fit: contain;
  vertical-align: top;
}
.a4-1-fZe .auto-group-seyu-bLp .geethika-mulugu-student-6qJ {
  margin-bottom: 1.5rem;
  max-width: 16.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #000000;
  font-family: Georgia, 'Source Sans Pro';
}
.a4-1-fZe .auto-group-seyu-bLp .geethika-mulugu-student-6qJ .geethika-mulugu-student-6qJ-sub-0 {
}
.a4-1-fZe .auto-group-seyu-bLp .geethika-mulugu-student-6qJ .geethika-mulugu-student-6qJ-sub-1 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #000000;
  font-family: Goldman, 'Source Sans Pro';
}
.a4-1-fZe .auto-group-seyu-bLp .a-19-year-old-with-a-passion-for-front-end-development-im-familiar-with-angular-framework-completed-a-python-course-and-have-hands-on-experience-with-projects-i-also-enjoy-bringing-ideas-to-life-through-figma-designs-excited-to-apply-my-skills-and-contribute-to-new-projects-ECk {
  margin-bottom: 1.9rem;
  max-width: 22rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA {
  margin: 0rem 0.7rem 1.4rem 0.3rem;
  width: calc(100% - 1rem);
  height: 15.2rem;
  position: relative;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .material-symbols-light-mail-4LC {
  width: 1.8rem;
  height: 1.4rem;
  position: absolute;
  left: 0;
  top: 4.8rem;
  object-fit: contain;
  vertical-align: top;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .ic-baseline-phone-yTA {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0.7rem;
  top: 12.8rem;
  overflow: hidden;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .vector-5WC {
  width: 1.6rem;
  height: 1.8rem;
  position: absolute;
  left: 0.6rem;
  top: 8.1rem;
  object-fit: contain;
  vertical-align: top;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .mdi-location-18x {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 2.3rem;
  top: 12.5rem;
  overflow: hidden;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .group-4-wYQ {
  width: 19.4rem;
  height: 14.9rem;
  position: absolute;
  left: 1.6rem;
  top: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .group-4-wYQ .contact-rvG {
  margin: 0rem 0rem 2.5rem 1.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .group-4-wYQ .geethikamulugugmailcom-9Pa {
  margin: 0rem 0rem 1.1rem 1.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .group-4-wYQ .xxxxx-qXJ {
  margin: 0rem 0rem 1.6rem 1.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .group-4-wYQ .auto-group-y51w-A3n {
  width: 18.9rem;
  height: 3.7rem;
  position: relative;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .group-4-wYQ .auto-group-y51w-A3n .vijayawadaandhra-pradesh-UqA {
  width: 17.5rem;
  height: 2rem;
  position: absolute;
  left: 1.4rem;
  top: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5384615385;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .group-4-wYQ .auto-group-y51w-A3n .mdi-location-TqW {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 1.3rem;
  overflow: hidden;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-md9w-xHA .vector-nMz {
  width: 1.4rem;
  height: 2rem;
  position: absolute;
  left: 0.6rem;
  top: 11.7rem;
  object-fit: contain;
  vertical-align: top;
}
.a4-1-fZe .auto-group-seyu-bLp .skills-7fA {
  margin: 0rem 0rem 2rem 3.4rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 {
  margin: 0rem 0rem 0.6rem 0.9rem;
  width: 15.3rem;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-pj2g-YkU {
  margin: 0rem 0rem 0.9rem 0.1rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-pj2g-YkU .python-5VW {
  margin-right: 2.2rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-pj2g-YkU .line-4-bye {
  margin-top: 0.7rem;
  width: 8.2rem;
  height: 0.5rem;
  background-color: #6ab1c7;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-9q2c-ja4 {
  margin: 0rem 0rem 1.4rem 0.1rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: flex-end;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-9q2c-ja4 .html-Tkx {
  margin-right: 3.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-9q2c-ja4 .line-5-MLY {
  margin-bottom: 0.1rem;
  width: 8.2rem;
  height: 0.5rem;
  background-color: #69b1c7;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-7noe-4Vr {
  margin: 0rem 1.7rem 0.7rem 0.1rem;
  width: calc(100% - 1.8rem);
  display: flex;
  align-items: flex-end;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-7noe-4Vr .css-BqN {
  margin-right: 4.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-7noe-4Vr .line-6-jbz {
  margin-bottom: 0.1rem;
  width: 6.5rem;
  height: 0.5rem;
  background-color: #6ab1c7;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-jxal-HNc {
  margin: 0rem 4.2rem 0.9rem 0rem;
  width: calc(100% - 4.2rem);
  display: flex;
  align-items: flex-end;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-jxal-HNc .js-RUp {
  margin-right: 5.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-jxal-HNc .line-7-a6p {
  margin-bottom: 0.3rem;
  width: 4rem;
  height: 0.5rem;
  background-color: #6ab1c7;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-9gdi-76k {
  margin-right: 3.7rem;
  width: calc(100% - 3.7rem);
  display: flex;
  align-items: center;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-9gdi-76k .angular-r4L {
  margin-right: 2.6rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .group-6-Dy6 .auto-group-9gdi-76k .line-11-nig {
  margin-top: 0.6rem;
  width: 3.8rem;
  height: 0.4rem;
  background-color: #6ab1c7;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-uayr-H9e {
  margin: 0rem 8.8rem 0rem 0.9rem;
  width: calc(100% - 9.7rem);
  display: flex;
  align-items: flex-end;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-uayr-H9e .figma-auS {
  margin-right: 3.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-seyu-bLp .auto-group-uayr-H9e .line-10-vTW {
  margin-bottom: 0.2rem;
  width: 4.9rem;
  height: 0.4rem;
  background-color: #6ab1c7;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-jggl-euJ {
  margin: 0rem 0.4rem 38.111rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-jggl-euJ .item-2017-18-nVi {
  margin-bottom: 2.3rem;
  max-width: 3.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-jggl-euJ .item-2019-21-tHr {
  margin-bottom: 1rem;
  max-width: 3.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-jggl-euJ .item-2021-26-D5E {
  max-width: 3.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing {
  margin-top: 3.8rem;
  width: 21.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 {
  box-sizing: border-box;
  padding-bottom: 6.1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-xbxp-A8t {
  margin-bottom: 4.4rem;
  width: 20rem;
  height: 4.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8fc6d8;
  border-radius: 1rem;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-qyda-dHN {
  margin-right: 1.6rem;
  width: calc(100% - 1.6rem);
  height: 14.4rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-qyda-dHN .group-1-mPa {
  margin: 0rem 0.8rem 0.31rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-qyda-dHN .group-1-mPa .ellipse-1-JeQ {
  margin-bottom: 4.2103rem;
  width: 1.4rem;
  height: 1.3897rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-qyda-dHN .group-1-mPa .ellipse-2-SVi {
  margin-bottom: 4.5103rem;
  width: 1.4rem;
  height: 1.3897rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-qyda-dHN .group-1-mPa .ellipse-3-aM2 {
  width: 1.4rem;
  height: 1.3897rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-qyda-dHN .auto-group-rh4x-7rk {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-qyda-dHN .auto-group-rh4x-7rk .sri-chaitanya-techno-school-5Yg {
  margin: 0rem 0rem 2.6rem 0.1rem;
  max-width: 15.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-qyda-dHN .auto-group-rh4x-7rk .narayana-junior-college-YBN {
  margin-bottom: 3.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-bzgg-Em2 .auto-group-qyda-dHN .auto-group-rh4x-7rk .vit-ap-bachelors-in-cse-rC4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW {
  margin-bottom: 2.8539rem;
  width: 100%;
  height: 32.4rem;
  position: relative;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .group-2-JZr {
  width: 1.4rem;
  height: 14.1897rem;
  position: absolute;
  left: 0;
  top: 8.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .group-2-JZr .ellipse-1-Arx {
  margin-bottom: 4.7103rem;
  width: 1.4rem;
  height: 1.3897rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .group-2-JZr .ellipse-2-JTN {
  margin-bottom: 5.3103rem;
  width: 1.4rem;
  height: 1.3897rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .group-2-JZr .ellipse-3-Ebv {
  width: 1.4rem;
  height: 1.3897rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .rectangle-3-BXA {
  width: 20rem;
  height: 4.1rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  background-color: #8fc6d8;
  border-radius: 1rem;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .rectangle-4-KNU {
  width: 20rem;
  height: 4.1rem;
  position: absolute;
  left: 1.6rem;
  top: 28.3rem;
  background-color: #8fc6d8;
  border-radius: 1rem;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .group-3-Pt8 {
  width: 16.3rem;
  height: 30.1695rem;
  position: absolute;
  left: 3rem;
  top: 1.3rem;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .group-3-Pt8 .certifications-XUY {
  margin-bottom: 11.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .group-3-Pt8 .scratch-course-from-coursera-f4x {
  margin-bottom: 2.4rem;
  max-width: 14.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .group-3-Pt8 .python-from-udemy-AnQ {
  margin-bottom: 6.6695rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .group-3-Pt8 .languages-uEC {
  margin-left: 2.7469rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.8333333333;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  white-space: nowrap;
}
.a4-1-fZe .auto-group-pwdn-ing .auto-group-7lz2-MuW .front-end-development-from-internshala-EGU {
  width: 16.7rem;
  height: 4rem;
  position: absolute;
  left: 3rem;
  top: 7.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4285714286;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL {
  margin: 0rem 1.848rem 0rem 3.772rem;
  width: calc(100% - 5.6198rem);
  height: 9.957rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL .auto-group-3wdr-2y2 {
  margin-right: 1.4698rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL .auto-group-3wdr-2y2 .group-ZCG {
  margin: 0rem 0rem 1.669rem 0.177rem;
  width: 4.288rem;
  height: 4.288rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL .auto-group-3wdr-2y2 .telugu-90-Fqn {
  max-width: 3.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8181818182;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL .auto-group-14qu-yFz {
  margin-right: 2.243rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL .auto-group-14qu-yFz .group-KKr {
  margin: 0rem 0.051rem 1.669rem 0rem;
  width: 3.4643rem;
  height: 4.288rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL .auto-group-14qu-yFz .hindi-60-SQU {
  max-width: 2.7rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8181818182;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL .auto-group-xcb6-A5a {
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL .auto-group-xcb6-A5a .group-JxU {
  margin-bottom: 1.6691rem;
  width: 4.288rem;
  height: 4.288rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.a4-1-fZe .auto-group-pwdn-ing .pie-1-ixL .auto-group-xcb6-A5a .english-75-FMv {
  margin-right: 0.1145rem;
  max-width: 3.8rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8181818182;
  color: #000000;
  font-family: Epilogue, 'Source Sans Pro';
  flex-shrink: 0;
}
